<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" >
  <sitecore>
    <dataProviders>
      <main  type="Loquacious.DataProvider.LoquaciousDataProvider, Loquacious.DataProvider" patch:instead="main">
        <param connectionStringName="$(1)" />
        <Name>$(1)</Name>
        <!--
        <filters hint="list">
          <filter>{E248FD78-B482-49FD-9151-F0A926448576}</filter>
        </filters>
        -->
      </main>
    </dataProviders>
  </sitecore>
</configuration>