<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" >
  <sitecore>
    <dataProviders>
      <main  type="DataProviderCollection.CaseInsensitiveDataProvider.CaseInsensitiveSqlDataProvider, DataProviderCollection.CaseInsensitiveDataProvider" patch:instead="main">
        <param connectionStringName="$(1)" />
        <Name>$(1)</Name>
      </main>
    </dataProviders>
  </sitecore>
</configuration>